{% extends 'base.html' %}
{% block login %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container post-entry">
            <h2 class="display-2">Login</h2>
            <div class="d-flex justify-content-left my-4">
                <form action="" method="post">{% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-primary my-4">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock login %}