{% extends 'base.html' %}
{% block title %}Blog Posts{% endblock %}
{% block maintitle %}Posts{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container post-entry">
            {% for post in object_list %}
                <h1 class="display-1">{{ post.title }}</h1>
                <p class="lead">{{ post.body }}</p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-primary btn-lg my-4 " href="{% url 'post_detail' post.pk %}"><span class="text-center">Ver Post</span></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



